@model CaraLuggage.Models.LoginInfo

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/LoginRegisterView.cshtml";
}

@using (Html.BeginForm("LoginSection", "LoginRegister", FormMethod.Post))
{
    <div class="login_box">
        <div class="login-header">
            <span>Đăng nhập</span>
        </div>


        @*/*Tắt cái lúc vô nó chèn cái username vs pass đi*/*@
        <div class="input_box">
            <input type="text" id="UserName" name="UserName" class="input-field" value="" required>
            <label for="user" class="label">Tên đăng nhập</label>
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="input_box">
            <input type="password" id="Password" name="Password" class="input-field" value="" required>
            <label for="pass" class="label">Mật khẩu</label>
            <i class="fa-solid fa-lock"></i>
        </div>
        <div class="remember-forgot">
            <div class="remember-me">
                <input type="checkbox" id="remember">
                <label for="remember"> Ghi nhớ mật khẩu</label>
            </div>
            <div class="forgot">
                <a href="#">Quên mật khẩu</a>
            </div>
        </div>
        <div class="input_box">
            <input type="submit" class="input-submit" value="Đăng nhập">
        </div>
        <div class="register">
            <span>Bạn chưa có tài khoản? <a href="@Url.Action("RegisterSection")" style="">Đăng ký</a></span>
        </div>

        <div class="register others">
            <span class="line"></span>
            <span>Hoặc có thể đăng nhập bằng</span>
            <span class="line"></span>
        </div>

        <div class="box">
            <a href="@ViewBag.Url" class="box-login facebook">
                <i class="fa-brands fa-facebook-f"></i>
                Facebook
            </a>

            <a target="_blank" href="@ViewBag.repsone" class="box-login google">
                <i class="fa-brands fa-google-plus-g"></i>
                Google
            </a>
        </div>
    </div>
}

