@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 54px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 24px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 16px;
}

p {
    font-size: 20px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/*Header Start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #D6FCFE;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #navbar li {
        list-style: none;
        padding: 0 20px;
        position: relative;
    }

        #navbar li a {
            text-decoration: none;
            font-size: 22px;
            font-weight: 600;
            color: #1a1a1a;
            transition: 0.3s ease;
        }

            #navbar li a:hover,
            #navbar li a.active {
                color: #FEBE10;
            }

                #navbar li a.active::after,
                #navbar li a:hover::after {
                    content: "";
                    width: 30%;
                    height: 2px;
                    background: #FEBE10;
                    position: absolute;
                    bottom: -4px;
                    left: 20px;
                }

/*Home Page*/
#hero {
    background-image: url("../assets/img/bannerYellow.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    #hero h4 {
        padding-bottom: 15px;
    }

    #hero h1 {
        color: white;
    }

    #hero button {
        background-color: #D6FCFE;
        color: black;
        border: 0;
        font-size: 17px;
        padding: 14px 50px 14px 50px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        border-radius: 10px
    }

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #feature .fe-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 0;
    }

        #feature .fe-box:hover {
            box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
        }

        #feature .fe-box img {
            width: 100%;
            margin-bottom: 10px;
        }

        #feature .fe-box h6 {
            display: inline-block;
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 4px;
            color: #0cc5b9;
            background-color: #fddde4;
        }

        #feature .fe-box:nth-child(2) h6 {
            background-color: #cdebbc;
        }

        #feature .fe-box:nth-child(3) h6 {
            background-color: #d1e8f2;
        }

        #feature .fe-box:nth-child(4) h6 {
            background-color: #cdd4f8;
        }

        #feature .fe-box:nth-child(5) h6 {
            background-color: #f6dbf6;
        }

        #feature .fe-box:nth-child(6) h6 {
            background-color: #fff2e5;
        }

#products1 {
    text-align: center;
}

    #products1 .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    #products1 .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #c9cbce;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }

        #products1 .pro a {
            text-decoration: none;
        }

        #products1 .pro:hover {
            box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
        }

        #products1 .pro img {
            width: 100%;
            border-radius: 20px;
        }

        #products1 .pro .des {
            text-align: start;
            padding: 10px 0;
        }

            #products1 .pro .des span {
                color: #606063;
                font-size: 18px;
            }

            #products1 .pro .des h5 {
                padding-top: 7px;
                color: #1a1a1a;
                font-size: 26px;
                margin-bottom: 12px;
                margin-top:5px
            }

            #products1 .pro .des i {
                font-size: 16px;
                color: rgb(243, 181, 25);
                margin-bottom: 10px;
            }

            #products1 .pro .des h4 {
                padding-top: 7px;
                font-size: 19px;
                font-weight: 700;
                color: #8DDFEB;
            }

        #products1 .pro .cart {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: #D6FCFE;
            color: #8DDFEB;
            border: 1px solid #8DDFEB;
            position: absolute;
            bottom: 20px;
            right: 10px;
        }

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../assets/img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

    #banner h4 {
        color: #fff;
        font-size: 32px;
    }

    #banner h2 {
        color: #fff;
        font-size: 46px;
        padding: 10px 0;
    }

        #banner h2 span {
            color: #ef3636;
        }

    #banner button:hover {
        background: #D6FCFE;
        color: #FEBE10;
    }

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #sm-banner .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("../assets/img/banner/banner151.png");
        min-width: 820px;
        height: 50vh;
        background-size: cover;
        background-position: center;
        padding: 40px;
    }

    #sm-banner .banner-box2 {
        background-image: url("../assets/img/banner/banner152.png");
    }

    #sm-banner h4 {
        color: #fff;
        font-size: 30px;
        font-weight: 300;
    }

    #sm-banner h2 {
        color: #fff;
        font-size: 38px;
        font-weight: 800;
    }

    #sm-banner span {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    #sm-banner .white {
        font-size: 15px;
        font-weight: 600;
        padding: 11px 18px;
        color: #fff;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid white;
        outline: none;
        transition: 0.2;
    }

    #sm-banner .banner-box:hover button {
        background: #D6FCFE;
        border: 1px solid #D6FCFE;
        color: #FEBE10;
    }

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

    #banner3 .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("../assets/img/banner/b7.jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #banner3 .banner-box2 {
        background-image: url("../assets/img/banner/b4.jpg");
    }

    #banner3 .banner-box3 {
        background-image: url("../assets/img/banner/b18.jpg");
    }

    #banner3 h2 {
        color: #fff;
        font-weight: 900;
        font-size: 32px;
    }

    #banner3 h3 {
        color: #ec544e;
        font-weight: 800;
        font-size: 20px;
    }

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../assets/img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

    #newsletter h4 {
        font-size: 26px;
        font-weight: 700;
        color: #fff;
    }

    #newsletter p {
        font-size: 14px;
        font-weight: 600;
        color: #818ea0;
    }

        #newsletter p span {
            color: #ffbd27;
        }

    #newsletter .form {
        display: flex;
        width: 40%;
    }

    #newsletter input {
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 16px;
        width: 80%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #newsletter button {
        background-color: #8DDFEB;
        color: #fff;
        white-space: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    footer .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    footer .logo {
        margin-bottom: 30px;
    }

    footer h4 {
        font-size: 18px;
        padding-bottom: 20px;
    }

    footer p {
        font-size: 17px;
        margin: 0 0 8px 0;
    }

    footer a {
        font-size: 17px;
        text-decoration: none;
        margin-bottom: 10px;
        color: #222;
    }

    footer .follow {
        margin-top: 20px;
    }

        footer .follow i {
            color: #465b52;
            padding-right: 4px;
            cursor: pointer;
        }

    footer .install .row img {
        border: 1px solid #c9cbce;
        border-radius: 6px;
    }

    footer .install img {
        margin: 10px 0 15px 0;
    }

    footer .follow i:hover,
    footer a:hover {
        color: #0cc5b9;
    }

.copyright {
    width: 100%;
    text-align: center;
}

/* Shop Page */
#page-header {
    background-image: url("../assets/img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

    #page-header h2,
    #page-header p {
        color: #fff;
    }

#pagination {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

    #pagination a {
        text-decoration: none;
        background-color: #8DDFEB;
        padding: 15px 20px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
    }

        #pagination a i {
            font-size: 18px;
            font-weight: 600;
        }

/* Single Product Details */

#prodetails {
    display: flex;
    margin-top: 20px;
}

    #prodetails .single-pro-img {
        width: 40%;
        margin-right: 50px;
    }

        #prodetails .single-pro-img img{
            border-radius: 10px;
        }

        .small-img-group {
            display: flex;
            justify-content: space-between;
        }

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

    #prodetails .single-pro-details h4 {
        padding: 40px 0 20px 0;
        font-size: 40px;
    }

    #prodetails .single-pro-details h2 {
        font-size: 34px;
    }

    #prodetails .single-pro-details select {
        display: block;
        padding: 10px 15px;
        margin-bottom: 20px;
        margin-top:5px;
        border-radius: 5px;
        font-size: 16px;
    }
    #prodetails .single-pro-details select option{
        padding: 10px 20px;
        font-size: 16px;
        margin-top:5px;
    }

    #prodetails .single-pro-details .d {
        font-size: 32px;
    }

    #prodetails .single-pro-details input {
        width: 50px;
        height: 47px;
        padding-left: 10px;
        font-size: 18px;
        margin-right: 10px;
        border-radius:5px;
        margin-bottom: 15px;
    }

        #prodetails .single-pro-details input:focus {
            outline: none;
        }

    #prodetails .single-pro-details a {
        background-color: #8DDFEB;
        color: #fff;
        display: block; 
        width: 150px; 
        margin: 10px 0; 
        padding: 15px; 
        border-radius: 5px; 
        text-align: center; 
        text-decoration: none; 
        background-color: #8DDFEB; 
        color: white;
        font-weight:600;
    }



    #prodetails .single-pro-details span {
        line-height: 25px;
    }

/* Blog Page */
#page-header.blog-header {
    background-image: url("../assets/img/banner/b19.jpg");
}

#blog {
    padding: 150px 150px 0 150px;
}

    #blog .blog-box {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        padding-bottom: 120px;
    }

    #blog .blog-img {
        width: 50%;
        margin-right: 40px;
    }

    #blog img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    #blog .blog-details {
        width: 50%;
    }

        #blog .blog-details a {
            text-decoration: none;
            font-size: 12px;
            color: #000;
            font-weight: 700;
            position: relative;
            transition: 0,3s;
        }

            #blog .blog-details a::after {
                content: "";
                width: 50px;
                height: 1px;
                background-color: #000;
                position: absolute;
                top: 4px;
                right: -60px;
            }

            #blog .blog-details a:hover {
                color: #0cc5b9;
            }

                #blog .blog-details a:hover::after {
                    background-color: #0cc5b9;
                }

    #blog .blog-box h1 {
        position: absolute;
        top: -40px;
        left: 0;
        font-size: 80px;
        font-weight: 700;
        color: #c9cbce;
        z-index: -9;
    }

/* About Us Page */
#page-header.about-header {
    background-image: url("../assets/img/about/banner.png");
}

#about-head {
    display: flex;
    align-items: center;
}

    #about-head img {
        width: 50%;
        height: auto;
    }

    #about-head div {
        padding-left: 40px;
    }

/* Contact Page */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    #contact-details .details {
        width: 40%;
    }

        #contact-details .details span,
        #form-details form span {
            font-size: 18px;
        }

        #contact-details .details h2,
        #form-details form h2 {
            font-size: 36px;
            line-height: 35px;
            padding: 20px 0;
        }

        #contact-details .details h3 {
            font-size: 20px;
            padding-bottom: 15px;
        }

        #contact-details .details li {
            list-style: none;
            display: flex;
            padding: 10px 0;
        }

            #contact-details .details li i {
                font-size: 18px;
                padding-right: 22px;
            }

            #contact-details .details li p {
                margin: 0;
                font-size: 18px;
            }

    #contact-details .map {
        width: 55%;
        height: 400px;
    }

        #contact-details .map iframe {
            width: 100%;
            height: 100%;
        }

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

    #form-details form {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        #form-details form input,
        #form-details form textarea {
            width: 100%;
            padding: 12px 15px;
            outline: none;
            margin-bottom: 20px;
            border: 1px solid #e1e1e1;
        }

        #form-details form button {
            background-color: #0cc5b9;
            color: #fff;
        }

    #form-details .people div {
        padding-bottom: 25px;
        display: flex;
        align-items: flex-start;
    }

        #form-details .people div img {
            width: 65px;
            height: 65px;
            object-fit: cover;
            margin-right: 15px;
        }

        #form-details .people div p {
            margin: 0;
            font-size: 16px;
            line-height: 25px;
        }

        #form-details .people div span {
            display: block;
            font-size: 19px;
            font-weight: 600;
            color: #000;
        }

/* Cart Page */
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

    #cart table img {
        width: 100px;
    }

    #cart table td:nth-child(1) {
        width: 100px;
        text-align: center;
    }

    #cart table td:nth-child(2) {
        width: 150px;
        text-align: center;
    }

    #cart table td:nth-child(3) {
        width: 250px;
        text-align: center;
    }

    #cart table td:nth-child(4),
    #cart table td:nth-child(5),
    #cart table td:nth-child(6) {
        width: 150px;
        text-align: center;
    }

        #cart table td:nth-child(5) input {
            width: 70px;
            padding: 10px 5px 10px 15px;
        }

    #cart table thead {
        border: 1px solid #e2e9e1;
        border-left: none;
        border-right: none;
    }

        #cart table thead td {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 18px;
            padding: 18px 0;
        }

    #cart table tbody tr td {
        padding-top: 15px;
    }

    #cart table tbody td {
        font-size: 16px;
    }

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

    #coupon h3,
    #subtotal h3 {
        padding-bottom: 15px;
        font-size: 20px;
    }

    #coupon input {
        padding: 10px 20px;
        outline: none;
        width: 60%;
        margin-right: 10px;
        border: 1px solid #e2e9e1;
    }

    #coupon button,
    #subtotal button {
        background-color: #8DDFEB;
        color: #fff;
        padding: 12px 20px;
    }

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
    height: fit-content;
}

    #subtotal table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

        #subtotal table td {
            width: 50%;
            border: 1px solid #e2e9e1;
            padding: 10px;
            font-size: 16px;
        }

/* Thanh Toán */
#proceed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#payment {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    border: 1px solid #e2e9e1;
}

    #payment h3 {
        padding-bottom: 15px;
        font-size: 20px;
    }

.input-container {
    position: relative;
    height: 60px;
    margin: 20px;
}

    .input-container input {
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
    }

    .input-container .radio-title img {
        width: 15%;
        margin-right: 10px;
    }

    .input-container .radio-title {
        width: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 30px 10px 30px;
        height: 90%;
        border: 1px solid #c9cbce;
        border-radius: 6px;
        transition: all 300ms ease;
    }

    .input-container label {
        color: #000;
        font-size: 16px;
        letter-spacing: 1px;
    }

input:checked + .radio-title {
    background-color: #0cc5b9;
    border: 2px solid #0cc5b9;
}

input:hover + .radio-title {
    box-shadow: 0 0 12px #0cc5b9;
    border: 2px solid #0cc5b9;
}

input:checked + .radio-title img,
input:checked + .radio-title label {
    color: #fff;
}

#proceed .tong-thanh-toan button {
    background-color: #8DDFEB;
    color: #fff;
    height: 60px;
    width: 200px;
    font-size: 20px;
}

    #proceed .tong-thanh-toan button:hover {
        background-color: #11f0e1;
    }

#proceed .tong-thanh-toan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#subtotal-thanhtoan {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
    height: fit-content;
}

    #subtotal-thanhtoan table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

        #subtotal-thanhtoan table td {
            width: 50%;
            border: 1px solid #e2e9e1;
            padding: 10px;
            font-size: 16px;
        }

/* Order Success */
#page-header.page-header2 {
    background-image: url("../assets/img/banner/pexels-johannes-plenio-1456301.jpg");
    height: 200px;
}

#order {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;
    margin: 30px;
}

    #order img {
        width: 60%;
        margin-bottom: 70px;
    }

    #order #order-text h2 {
        padding: 5px 0 5px 0;
        font-size: 46px;
    }

    #order #order-text p {
        padding: 5px 0 15px 0;
        font-size: 18px;
        color: #c9cbce;
    }

    #order #order-btn {
        padding-top: 20px;
    }

        #order #order-btn #vo {
            background-color: #f0f0f0;
            width: 170px;
            margin-right: 10px;
            text-transform: uppercase;
        }

        #order #order-btn #cs {
            background-color: #0cc5b9;
            color: #fff;
            width: 270px;
            margin-left: 10px;
            text-transform: uppercase;
        }

/*User Profile*/
#page-header.about-header10 {
    background-image: url("../assets/img/about/banner.png");
    height: 250px;
}

#profile {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0 150px;
    margin: 0 auto;
}

    #profile .profile-info {
        border-right: 2px solid #c9cbce;
        padding-right: 50px;
    }

    #profile .profile-details {
        padding-left: 50px;
    }

        #profile .profile-info h3,
        #profile .profile-details h3 {
            font-size: 36px;
            padding: 50px 0 50px 0;
            font-weight: 600;
        }

.pro-info {
    align-items: flex-start;
    list-style: none;
}

    .pro-info li {
        padding: 10px 0;
        font-size: 20px;
    }

        .pro-info li a {
            text-decoration: none;
            color: #B6B6B4;
            transition: 0.3s all ease;
        }

            .pro-info li a:hover {
                padding-left: 30px;
            }

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #000;
    border-collapse: collapse;
}

.border {
    display: table-row;
    vertical-align: inherit;
    border: 1px solid #c9cbce;
    padding: 50px;
}

.table th {
    padding: 20px 0.75rem;
    font-weight: 500;
    text-align: start;
    font-size: 20px;
    width: 180px;
}

.table .border th:nth-child(1) {
    padding-left: 20px;
}

.table .border td:nth-child(6) {
    padding-right: 20px;
}

.table .border th:nth-child(2),
.table .border th:nth-child(4) {
    width: 250px;
}

.table .border .first {
    width: 100px;
}

.border td {
    padding: 40px 0.75rem;
    font-size: 18px;
}

.border .normal a {
    background-color: #0cc5b9;
    padding: 20px 60px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
}

.border span {
    background-color: tomato;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.normal a:hover {
    background-color: #11f0e1;
}

/* Order Details */
#order1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 75px;
}

    #order1 h3 {
        font-size: 32px;
    }

.order-details {
    margin-top: 80px;
    width: 1000px;
}

.table1 {
    justify-content: space-between;
    border: 1px solid #c9cbce;
    padding: 50px 0 50px 50px;
    width: 100%;
    color: #000;
}

.border1 {
    display: table-row;
    border: 1px solid #c9cbce;
    padding: 50px;
}

.table1 .border1 th {
    text-align: left;
    font-size: 20px;
}

.table1 .border1 td {
    font-size: 18px;
}

#theaddetails {
    height: 50px;
}

.table1 .border1 th:nth-child(3) {
    width: 230px;
}

.table1 .border1 th:nth-child(1) {
    width: 150px;
}

.table1 .border1 th:nth-child(2) {
    width: 300px;
}

.chitiet {
    border-bottom: 1px solid #c9cbce;
    border-left: 1px solid #c9cbce;
    border-right: 1px solid #c9cbce;
    padding: 50px;
}

    .chitiet h4 {
        padding-bottom: 30px;
        font-weight: 600;
        font-size: 24px;
    }

.chitiet-tong {
    display: flex;
    flex-direction: column;
}

.chitiet-sp h6 {
    font-weight: 600;
    padding-bottom: 10px;
}

.chitiet-sp {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

    .chitiet-sp .soluong {
        padding-left: 100px;
    }

.thanhtoan-hoadon {
    border-bottom: 1px solid #c9cbce;
    border-left: 1px solid #c9cbce;
    border-right: 1px solid #c9cbce;
    padding: 50px;
}

    .thanhtoan-hoadon ul {
        list-style: none;
    }

    .thanhtoan-hoadon li:nth-child(1),
    .thanhtoan-hoadon li:nth-child(2) {
        padding-bottom: 30px;
    }

    .thanhtoan-hoadon li {
        display: flex;
        justify-content: space-between;
    }

.trangthai {
    background-color: tomato;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.tongtien-hoadon {
    border-bottom: 1px solid #c9cbce;
    border-left: 1px solid #c9cbce;
    border-right: 1px solid #c9cbce;
    padding: 50px;
}

    .tongtien-hoadon div {
        display: flex;
        justify-content: space-between;
    }

        .tongtien-hoadon div span {
            font-size: 18px;
        }

.diachi-hoadon {
    border-bottom: 1px solid #c9cbce;
    border-left: 1px solid #c9cbce;
    border-right: 1px solid #c9cbce;
    padding: 50px;
}

    .diachi-hoadon h4 {
        font-size: 28px;
        font-weight: 600;
    }

    .diachi-hoadon h6 {
        font-size: 20px;
        color: #B6B6B4;
        font-weight: 400;
        padding-top: 20px;
    }

    .diachi-hoadon div {
        padding-top: 50px;
    }

    .diachi-hoadon span {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
    }

.empty {
    border-bottom: 1px solid #c9cbce;
    border-left: 1px solid #c9cbce;
    border-right: 1px solid #c9cbce;
    padding: 20px;
}

/* Chỉnh sửa thông tin */
.profile-details h5 {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 30px;
}

.tenvasdt {
    display: flex;
    justify-content: space-between;
}

.hovaten-pro,
.sodienthoai-pro,
.diachi-pro,
.pass-pro {
    display: flex;
    flex-direction: column;
    width: 550px;
}

    .hovaten-pro label,
    .sodienthoai-pro label,
    .diachi-pro label,
    .pass-pro label {
        font-size: 22px;
        padding-bottom: 10px;
    }

    .hovaten-pro input,
    .sodienthoai-pro input {
        padding: 15px;
        width: 500px;
        font-size: 18px;
        border: 1px solid #c9cbce;
        border-radius: 5px;
    }

.diachi-pro,
#pro-pass {
    padding-top: 30px;
}

    .diachi-pro input,
    .pass-pro input {
        padding: 15px;
        width: 1050px;
        font-size: 18px;
        border: 1px solid #c9cbce;
        border-radius: 5px;
    }

.profile-details button {
    background-color: #0cc5b9;
    color: #fff;
    margin-top: 35px;
}

    .profile-details button:hover {
        background-color: #11f0e1;
    }

#pro-edit {
    border-bottom: 1px solid #c9cbce;
    padding-bottom: 60px;
}

/* Style the dropdown button */
.dropbtn {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #747474;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    color: #747474;
}

#filter {
    color: #747474;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius:5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    /* Style the dropdown links */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fafafa;
}
