
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/UserView.cshtml";
}
<section id="page-header" class="blog-header">
    <h2>#BaloTuiXach</h2>
    <p>Đọc các bài viết mới nhất về balo và túi xách!</p>
</section>

<section class="dark-mode-blog" id="blog">
    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b1.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Balo Đi Học</h4>
            <p>Giới thiệu về những mẫu balo phổ biến dành cho học sinh và sinh viên.</p>
            <a href="#">Xem chi tiết</a>
        </div>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b2.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Túi Xách Thời Trang</h4>
            <p>Những kiểu túi xách thời trang hot nhất hiện nay mà bạn không nên bỏ lỡ.</p>
            <a href="#">Xem chi tiết</a>
        </div>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b3.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Phong Cách Mix & Match</h4>
            <p>Cách kết hợp balo và túi xách với trang phục để tạo ra phong cách thời trang riêng.</p>
            <a href="#">Xem chi tiết</a>
        </div>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b4.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Balo Đa Năng</h4>
            <p>Những mẫu balo đa năng tiện dụng cho cả đi làm, đi học và du lịch.</p>
            <a href="#">Xem chi tiết</a>
        </div>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b5.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Túi Xách Dây Đeo Chéo</h4>
            <p>Thời trang túi xách dây đeo chéo phổ biến và tiện lợi cho cả nam và nữ.</p>
            <a href="#">Xem chi tiết</a>
        </div>
    </div>

</section>

<section id="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
</section>
