
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/UserView.cshtml";
}
<section id="page-header" class="blog-header">
    <h2>#timhieuthem</h2>
    <p>Đọc các nghiên cứu điển hình về sản phẩm của chúng tôi!</p>
</section>

<section id="blog">
    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b1.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>The Cotton-Jersey Zip-Up Hoodie</h4>
            <p>Kick starter man braid godard coloring book. Raclette waistcoat selfies yr wolf chartreuse hexagon irony godard...</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/01</h1>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b2.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>How to Style a Quiff</h4>
            <p>Kick starter man braid godard coloring book. Raclette waistcoat selfies yr wolf chartreuse hexagon irony godard...</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/04</h1>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b3.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Must-Have Skater Girl Items</h4>
            <p>Kick starter man braid godard coloring book. Raclette waistcoat selfies yr wolf chartreuse hexagon irony godard...</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>12/01</h1>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b4.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Runway-Inspired Trends</h4>
            <p>Kick starter man braid godard coloring book. Raclette waistcoat selfies yr wolf chartreuse hexagon irony godard...</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>16/01</h1>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="~/Content/assets/img/blog/b6.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>AW20 Menswear Trends</h4>
            <p>Kick starter man braid godard coloring book. Raclette waistcoat selfies yr wolf chartreuse hexagon irony godard...</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>10/03</h1>
    </div>
</section>

<section id="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
</section>

